html {
	width: 100%;
	height: 100%
}

* {
	margin: 0;
	padding: 0;
	user-select: none;	
	/*border: 1px solid red;*/
}

body {
	font-family: 'Nunito', sans-serif;
	color: #43B581;
	background-color: #282B30;
}

.wrapper-container, .container, .wrapper-input-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	min-height: 100vh;
	max-height: max-content;
}

.title-wrapper {
	display: flex;
	justify-content: center;
}

.title {
	font-size: 7em;
}

.wrapper-input-field {
	position: relative;
    width: 75vw;
	min-height: 72vh;
	max-height: max-content;
	background-color: #202225;
	margin-bottom: 2%;
}

.wrapper-input-field:after {
	display:block;
	clear:both;
	content:"";
}

.img {
	width: 100%
	height: 100%;
	z-index: 0;
}

.input-field {
	position: absolute;
	justify-self: center;
	z-index: 1;
}

.insertion-methods {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 60px;
}

.title-paste-img, .or {
	font-size: 35pt;
}

.select-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.select-file-input + label {
	background-color: #282B30;
	color: #43B581;
	border: 1px solid #282B30;
	border-radius: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 23pt;
	padding: 5px 60px;
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    letter-spacing: 2pt;
    cursor: pointer;
}

.image-field {
	/*width: 100%;*/
	height: 100%;
	z-index: 0;
	display: grid;
	grid-gap: 25px 25px;
	/*grid-auto-rows:  repeat(4, dense );
	grid-template-columns:  repeat(5, dense );*/
	grid-template:
		"img img img img img" auto
		"img img img img img" auto
		"img img img img img" auto
		"img img img img img" auto
		/ 1fr 1fr 1fr 1fr 1fr
	;
	align-items: start;
	justify-items: center;
	padding: 25px;
}

.img-block {
	justify-self: center;
	width: 100%;
	min-height: 10%;
	height: max-content;
	background-color: #282B30;
}

.img-load-block {
	width: 100%;
}

.img-load {
	width: 100%;
}

.img-name {
	display: block;
	text-align: center;
	color: #ffffff;
	width: 100%;
	height: max-content;
	word-wrap: break-word;
	white-space: pre-wrap;
}
