* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #43B581;
  background-color: #282B30;
}

.title {
  font-size: 7em;
}

#drop-area.highlight {
  border: 3px dashed #43B581;
}

#drop-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 85vw;
  min-height: 72vh;
  max-height: max-content;
  background-color: #202225;
  margin-bottom: 2%;
}

#drop-area:after {
  display:block;
  clear:both;
  content:"";
}

.input-field {
  justify-self: center;
  z-index: 1;
}

.insertion-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 60px;
}

.title-paste-img, .or {
  font-size: 35pt;
}

.select-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.select-file-input + label {
  background-color: #282B30;
  color: #43B581;
  border: 1px solid #282B30;
  border-radius: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 23pt;
  padding: 5px 60px;
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    letter-spacing: 2pt;
    cursor: pointer;
}

#gallery {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: grid;
  grid-gap: 2% 2%;
  grid-template:
    "img img img img img" auto
    "img img img img img" auto
    "img img img img img" auto
    "img img img img img" auto
    / 18.4% 18.4% 18.4% 18.4% 18.4%
  ;
  align-items: start;
  justify-items: center;
  padding: 33px 2%;
}

.img-block {
  display: grid;
  grid-template-rows: repeat(3, auto);
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  min-height: 10%;
  height: max-content;
  background-color: #282B30;
}

.img-load, .progressbar {
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-name {
  grid-row-start: 2;
  grid-row-end: 3;
}

.img-load {
  width: 100%;
}

.download-file {
  width: 50px;
  height: 50px;
  position: absolute;
}

.download-file > svg{
  width: 100%;
  height: 100%;
}

.progressbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: #453f3f;
}

.progressbar > span {
  display: block;
  height: 100%;
  background-color: #43B581;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.progressbar > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 25px 25px;
  animation: move 2s linear infinite;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.img-name {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: max-content;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-wrap: break-word;
}
